# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

scripts


# Editor directories and files
__pycache__
.vscode/*
!.vscode/extensions.json
.idea
.pytest_cache
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage
/coverage

# output
/.next/
/out/
dist
dist-cjs
dist-esm
.lazy

# production
/build

# misc
.DS_Store
*.pem

# debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# vercel
.vercel
/vercel.json

# turborepo
.turborepo

# typescript
*.tsbuild
*.tsbuildinfo
next-env.d.ts

# env variables, special case exception to include .env.example
**/*.env.*
**/.env.*
!.env.example

# yarn v2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# https cert
certificates

# aws cdk
**/cdk.out
**/cdk.js
**/*.cdk.staging

# @swc/jest
.swc
