.pkmn-type-icon {
    border-radius: 100%;
    margin: auto;
    transition: 200ms all;
    position: relative;
    overflow: visible;
}

.pkmn-type-icon:hover {
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.pkmn-type-icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    opacity: 0;
    z-index: -1;
    transition: 200ms all;
}

.pkmn-type-icon:hover::after {
    filter: blur(12px);
    opacity: 0.9;
}

.pkmn-type-bug { background: #92BC2C; }
.pkmn-type-bug::after { background: #92BC2C; }

.pkmn-type-dark { background: #595761; }
.pkmn-type-dark::after { background: #595761; }

.pkmn-type-dragon { background: #0C69C8; }
.pkmn-type-dragon::after { background: #0C69C8; }

.pkmn-type-electric { background: #F2D94E; }
.pkmn-type-electric::after { background: #F2D94E; }

.pkmn-type-fire { background: #FBA54C; }
.pkmn-type-fire::after { background: #FBA54C; }

.pkmn-type-fairy { background: #EE90E6; }
.pkmn-type-fairy::after { background: #EE90E6; }

.pkmn-type-fighting { background: #D3425F; }
.pkmn-type-fighting::after { background: #D3425F; }

.pkmn-type-flying { background: #A1BBEC; }
.pkmn-type-flying::after { background: #A1BBEC; }

.pkmn-type-ghost { background: #5F6DBC; }
.pkmn-type-ghost::after { background: #5F6DBC; }

.pkmn-type-grass { background: #5FBD58; }
.pkmn-type-grass::after { background: #5FBD58; }

.pkmn-type-ground { background: #DA7C4D; }
.pkmn-type-ground::after { background: #DA7C4D; }

.pkmn-type-ice { background: #75D0C1; }
.pkmn-type-ice::after { background: #75D0C1; }

.pkmn-type-normal { background: #A0A29F; }
.pkmn-type-normal::after { background: #A0A29F; }

.pkmn-type-poison { background: #B763CF; }
.pkmn-type-poison::after { background: #B763CF; }

.pkmn-type-psychic { background: #FA8581; }
.pkmn-type-psychic::after { background: #FA8581; }

.pkmn-type-rock { background: #C9BB8A; }
.pkmn-type-rock::after { background: #C9BB8A; }

.pkmn-type-steel { background: #5695A3; }
.pkmn-type-steel::after { background: #5695A3; }

.pkmn-type-water { background: #539DDF; }
.pkmn-type-water::after { background: #539DDF; }
