/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/preflight */
@layer base {
  html,
  body {
    overscroll-behavior-x: none;
    overflow: hidden;
  }

  -webkit-scrollbar {
    height: 8px;
    width: 4px;
    background: transparent;
  }

  -webkit-scrollbar-thumb {
    background: hsl(0 0% 40%);
    border-radius: 999px;
  }

  -webkit-scrollbar-track {
    background: transparent;
  }

  * {
    @apply box-border font-mono;
  }

  a {
    @apply text-[#1976d2] no-underline	hover:underline;
  }

  a:hover {
    @apply no-underline;
  }
}

/* Reference from tailwind context via `text-primary`, `bg-secondary` */
:root {
  --text-primary: 0 0 0;
  --text-secondary: 85 85 85;

  --background-primary: 255 255 255;
  --background-secondary: 242 242 242;

  --border-primary: 0 0 0;
  --border-secondary: 220 220 220;

  --accent-50: 127 197 255;
  --accent-100: 101 185 255;
  --accent-200: 76 174 254;
  --accent-300: 50 162 255;
  --accent-400: 25 151 255;
  --accent-500: 229 231 235;
  --accent-600: 0 125 229;
  --accent-700: 0 111 204;
  --accent-800: 0 97 178;
  --accent-900: 0 83 153;
  --accent-950: 0 69 127;

  --muted: 85 85 85;
  --error: 255 69 58;

  --kbd-foreground: 113 113 122;
}

.dark {
  --text-primary: 249 249 249;
  --text-secondary: 187 187 187;

  --background-primary: 30 31 33;
  --background-secondary: 35 37 41;
  --background-tertiary: 26 26 26;

  --border-primary: 73 85 95;
  --border-secondary: 85 95 105;

  --accent-50: 252 252 253;
  --accent-100: 249 250 251;
  --accent-200: 246 247 248;
  --accent-300: 241 242 244;
  --accent-400: 235 236 239;
  --accent-500: 229 231 235;
  --accent-600: 206 210 217;
  --accent-700: 177 183 195;
  --accent-800: 146 154 171;
  --accent-900: 102 112 133;
  --accent-950: 73 81 95;

  --muted: 85 85 85;
  --error: 255 69 58;

  --kbd-foreground: 161 161 170;
}

.black {
  --text-primary: 249 249 249;
  --text-secondary: 187 187 187;

  --background-primary: 13 12 13;
  --background-secondary: 35 37 41;
  --background-tertiary: 26 26 26;

  --border-primary: 73 85 95;
  --border-secondary: 85 95 105;

  --accent-50: 252 252 253;
  --accent-100: 249 250 251;
  --accent-200: 246 247 248;
  --accent-300: 241 242 244;
  --accent-400: 235 236 239;
  --accent-500: 229 231 235;
  --accent-600: 206 210 217;
  --accent-700: 177 183 195;
  --accent-800: 146 154 171;
  --accent-900: 102 112 133;
  --accent-950: 73 81 95;

  --muted: 85 85 85;
  --error: 255 69 58;

  --kbd-foreground: 161 161 170;
}

.blueish {
  --text-primary: 249 249 249;
  --text-secondary: 187 187 187;

  --background-primary: 54 61 68;
  --background-secondary: 44 49 54;
  --background-tertiary: 32 35 39;

  --border-primary: 73 85 95;
  --border-secondary: 85 95 105;

  --accent-50: 127 197 255;
  --accent-100: 101 185 255;
  --accent-200: 76 174 254;
  --accent-300: 50 162 255;
  --accent-400: 25 151 255;
  --accent-500: 0 140 255;
  --accent-600: 0 125 229;
  --accent-700: 0 111 204;
  --accent-800: 0 97 178;
  --accent-900: 0 83 153;
  --accent-950: 0 69 127;

  --muted: 85 85 85;
  --error: 255 69 58;

  --kbd-foreground: 161 161 170;
}

@keyframes ripple-click-effect {
  to {
    transform: scale(4);
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-click-effect 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

/** Hide React Query Devtools Button */
.go3489369143 div svg {
  display: none !important;
  pointer-events: none !important;
}

.go3489369143 button {
  display: none !important;
  pointer-events: none !important;
}
