/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/preflight */
@layer base {
  html,
  body {
    overscroll-behavior-x: none;
    overflow: hidden;
  }

  -webkit-scrollbar {
    height: 8px;
    width: 4px;
    background: transparent;
  }

  -webkit-scrollbar-thumb {
    background: hsl(0 0% 40%);
    border-radius: 999px;
  }

  -webkit-scrollbar-track {
    background: transparent;
  }

  * {
    @apply box-border font-mono;
  }

  a {
    @apply text-[#1976d2] no-underline	hover:underline;
  }
}
