@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900);

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/preflight */
@layer base {
  html,
  body {
    overscroll-behavior-x: none;
  }

  * {
    @apply box-border font-mono;
  }

  a {
    @apply text-[#1976d2] no-underline	hover:underline;
  }

  a:visited svg {
    @apply text-[#8E24AA];
  }
}

/* Reference from tailwind context via `text-primary`, `bg-secondary` */
:root {
  --text-primary: 0 0 0;
  --text-secondary: 85 85 85;

  --background-primary: 255 255 255;
  --background-secondary: 242 242 242;

  --border-primary: 0 0 0;
  --border-secondary: 220 220 220;

  --accent-50: 127 197 255;
  --accent-100: 101 185 255;
  --accent-200: 76 174 254;
  --accent-300: 50 162 255;
  --accent-400: 25 151 255;
  --accent-500: 0 140 255;
  --accent-600: 0 125 229;
  --accent-700: 0 111 204;
  --accent-800: 0 97 178;
  --accent-900: 0 83 153;
  --accent-950: 0 69 127;

  --muted: 85 85 85;
  --error: 255 69 58;
}

.dark {
  --text-primary: 249 249 249;
  --text-secondary: 187 187 187;

  --background-primary: 54 61 68;
  --background-secondary: 44 49 54;
  --background-tertiary: 32 35 39;

  --border-primary: 73 85 95;
  --border-secondary: 85 95 105;

  --accent-50: 127 197 255;
  --accent-100: 101 185 255;
  --accent-200: 76 174 254;
  --accent-300: 50 162 255;
  --accent-400: 25 151 255;
  --accent-500: 0 140 255;
  --accent-600: 0 125 229;
  --accent-700: 0 111 204;
  --accent-800: 0 97 178;
  --accent-900: 0 83 153;
  --accent-950: 0 69 127;

  --muted: 85 85 85;
  --error: 255 69 58;
}

/* React Query Devtools overrides */
.ReactQueryDevtools {
  position: absolute !important;
}

.ReactQueryDevtools > button {
  margin: 0 !important;
  transform: scale(0.75) !important;
  top: 95vh !important;
  left: 5% !important;
  position: absolute !important;
}

.ReactQueryDevtoolsPanel {
  display: flex !important;
  justify-content: center !important;
  position: fixed !important;
  width: 90% !important;
  left: 5% !important;
  top: 0 !important;
  background: rgb(var(--background-primary)) !important;
  border-bottom: 1px solid rgb(var(--border-primary)) !important;
  border-left: 1px solid rgb(var(--border-primary)) !important;
  border-right: 1px solid rgb(var(--border-secondary)) !important;
  border-bottom-right-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  padding: 6px !important;
  overflow: hidden !important;
}

.ReactQueryDevtoolsPanel > div > div:nth-child(odd) {
  background: rgb(var(--background-primary)) !important;
}
.ReactQueryDevtoolsPanel > div > div:nth-child(even) {
  background: rgb(var(--background-secondary)) !important;
}

