@font-face {
  font-family: 'Argon';
  src: url('../assets/fonts/Monaspace/MonaspaceArgonVarVF[wght,wdth,slnt].ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: oblique 0deg -10deg;
}

@font-face {
  font-family: 'Krypton';
  src: url('../assets/fonts/Monaspace/MonaspaceKryptonVarVF[wght,wdth,slnt].ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: oblique 0deg -10deg;
}

@font-face {
  font-family: 'Neon';
  src: url('../assets/fonts/Monaspace/MonaspaceNeonVarVF[wght,wdth,slnt].ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: oblique 0deg -10deg;
}

@font-face {
  font-family: 'Radon';
  src: url('../assets/fonts/Monaspace/MonaspaceRadonVarVF[wght,wdth,slnt].ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: oblique 0deg -10deg;
}

@font-face {
  font-family: 'Xenon';
  src: url('../assets/fonts/Monaspace/MonaspaceXenonVarVF[wght,wdth,slnt].ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: oblique 0deg -10deg;
}
