.tl-theme__dark {
	--color-accent: hsl(0, 76%, 60%);
	--color-background: hsl(240, 5%, 8%);
	--color-brush-fill: hsl(0, 0%, 71%, 5.1%);
	--color-brush-stroke: hsl(0, 0%, 71%, 25.1%);
	--color-grid: hsl(0, 0%, 56%);
	--color-low: rgb(30 31 33);
	--color-low-border: hsl(207, 10%, 10%);
	--color-culled: hsl(210, 11%, 19%);
	--color-muted-none: hsl(0, 0%, 100%, 0%);
	--color-muted-0: hsl(0, 0%, 100%, 2%);
	--color-muted-1: hsl(0, 0%, 100%, 10%);
	--color-muted-2: hsl(0, 0%, 100%, 5%);
	--color-hint: hsl(0, 0%, 100%, 7%);
	--color-overlay: hsl(0, 0%, 0%, 50%);
	--color-divider: hsl(240, 9%, 25%);
	--color-panel-contrast: hsl(240, 13%, 22%);
	--color-panel: rgb(35 37 41);
	--color-panel-overlay: hsl(210, 11%, 24%, 82%);
	--color-focus: hsl(217, 76%, 80%);
	--color-selected: hsl(217, 89%, 61%);
	--color-selected-contrast: hsl(0, 0%, 100%);
	--color-selection-fill: hsl(209, 100%, 57%, 20%);
	--color-selection-stroke: hsl(214, 84%, 56%);
	--color-text-0: hsl(0, 9%, 94%);
	--color-text-1: hsl(0, 0%, 85%);
	--color-text-3: hsl(210, 6%, 45%);
	--color-text-shadow: hsl(210, 13%, 18%);
	--color-primary: hsl(214, 84%, 56%);
	--color-warn: hsl(0, 81%, 66%);
	--color-text: hsl(210, 17%, 98%);
	--color-laser: hsl(0, 100%, 50%);
	/* Shadows */
	--shadow-1: 0px 1px 2px hsl(0, 0%, 0%, 16.1%), 0px 1px 3px hsl(0, 0%, 0%, 22%),
		inset 0px 0px 0px 1px var(--color-panel-contrast);
	--shadow-2: 0px 1px 3px hsl(0, 0%, 0%, 66.6%), 0px 2px 6px hsl(0, 0%, 0%, 33%),
		inset 0px 0px 0px 1px var(--color-panel-contrast);
	--shadow-3: 0px 1px 3px hsl(0, 0%, 0%, 50%), 0px 2px 12px hsl(0, 0%, 0%, 50%),
		inset 0px 0px 0px 1px var(--color-panel-contrast);
}

.tlui-layout {
  padding: 0px !important;
  width: 100% !important;
}

.tlui-menu-zone {
  border: solid 1px rgb(var(--border-primary)) !important;
  border-top: solid 1px transparent !important;
  border-left: solid 1px transparent !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.tlui-navigation-zone::before {
  border: solid 1px rgb(var(--border-primary)) !important;
  border-left: solid 1px transparent !important;
  border-bottom: solid 1px transparent !important;
  border-bottom-right-radius: 0px !important;
}

.tlui-debug-panel {
  border-top: solid 1px rgb(var(--border-primary)) !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.tlui-help-menu {
  border: solid 1px rgb(var(--border-primary)) !important;
  transform: translate(-6px, -6px) !important;
}

.tlui-button__help::after {
  width: 100% !important;
  height: 100% !important;
  left: 0px !important;
  top: 0px !important;
}

.tlui-toolbar__extras__controls {
  border: solid 1px rgb(var(--border-primary)) !important;
  margin-bottom: 0px !important;
  top: 7px;
}
