.tlui-layout {
  padding: 0px !important;
  width: 100% !important;
}

.tlui-menu-zone {
  border: solid 1px rgb(var(--border-primary)) !important;
  border-top: solid 1px transparent !important;
  border-left: solid 1px transparent !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.tlui-navigation-zone::before {
  border: solid 1px rgb(var(--border-primary)) !important;
  border-left: solid 1px transparent !important;
  border-bottom: solid 1px transparent !important;
  border-bottom-right-radius: 0px !important;
}

.tlui-debug-panel {
  border-top: solid 1px rgb(var(--border-primary)) !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.tlui-help-menu {
  border: solid 1px rgb(var(--border-primary)) !important;
  transform: translate(-6px, -6px) !important;
}

.tlui-button__help::after {
  width: 100% !important;
  height: 100% !important;
  left: 0px !important;
  top: 0px !important;
}

.tlui-toolbar__extras__controls {
  border: solid 1px rgb(var(--border-primary)) !important;
  margin-bottom: 0px !important;
  top: 7px;
}

.tlui-style-panel__wrapper {
  margin: 0px !important;
  padding: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  box-shadow: none !important;
  border: solid 1px rgb(var(--border-primary)) !important;
  border-right: solid 1px transparent !important;
  border-top: solid 1px transparent !important;
}

/**
.tl-tabs {
  --space-1: calc(4px * var(--scaling));
  --space-2: calc(8px * var(--scaling));
  --space-3: calc(12px * var(--scaling));
  --space-4: calc(16px * var(--scaling));
  --space-5: calc(24px * var(--scaling));
  --space-6: calc(32px * var(--scaling));
  --space-7: calc(40px * var(--scaling));
  --space-8: calc(48px * var(--scaling));
  --space-9: calc(64px * var(--scaling));
}
*/