@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/preflight */
@layer base {
  * {
    @apply box-border;
  }

  #root,
  html,
  body {
    width: 100%;
    height: 100vh;
    height: -webkit-fill-available;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    padding: 0;
    margin: 0;
    place-items: center;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    touch-action: none;
    overscroll-behavior: none;
    line-height: 1;
  }

  -webkit-scrollbar {
    height: 8px;
    width: 4px;
    background: transparent;
  }

  -webkit-scrollbar-thumb {
    background: hsl(0 0% 40%);
    border-radius: 999px;
  }

  -webkit-scrollbar-track {
    background: transparent;
  }

  a {
    @apply text-[#646cff] no-underline	hover:underline hover:text-[#535bf2];
  }
}

:root {
  color-scheme: light dark;
  font-family: monospace;
  display: relative;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: var(--background-primary, #333333);
  color: var(--text-primary, #FFFFFF);
}
